# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
*.log

# Vite / build caches
**/.vite/
dist/
coverage/

# Env & local config
.env
.env.local
*.local.*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
/.config/solana/
*.env
*.env.*
client/.env*
server/.env*
anchor/
secrets/*
!secrets/README.md
client/tsconfig.tsbuildinfo
