node_modules
build
coverage
dist
*.log
*.lock
client/dist
apps/backend/dist
**/.vite
**/.next
**/.cache
**/*.min.*
**/*.svg
**/*.png
**/*.jpg
**/*.webp
**/*.gif
**/*.map
**/*.wasm
.env
.env.*
platform-keys-backup.json
