# NPM Configuration for NFTSol Backend

# Audit settings
audit-level=moderate

# Ignore known false-positives
# The bigint-buffer vulnerability is mitigated by using @trufflesuite/bigint-buffer@1.1.10
# This is a known issue with the Solana/Metaplex ecosystem that is not yet reflected in npm audit
legacy-peer-deps=true
